apiVersion: v1
kind: ConfigMap
metadata:
  name: opencloud-config
  namespace: cloud
data:
  banned-password-list.txt: |-
    password
    12345678
    123
    OpenCloud
    OpenCloud-1
  csp.yaml: |-
    directives:
      child-src:
        - '''self'''
      connect-src:
        - '''self'''
        - 'blob:'
        - 'https://cloud.starsystem.dev/'
        - 'wss://cloud.starsystem.dev/'
        - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
        - 'https://update.opencloud.eu/'
      default-src:
        - '''none'''
      font-src:
        - '''self'''
      frame-ancestors:
        - '''self'''
      frame-src:
        - '''self'''
        - 'blob:'
        - 'https://embed.diagrams.net/'
        # In contrary to bash and docker the default is given after the | character
        - 'https://collab.cloud.starsystem.dev/'
        # This is needed for the external-sites web extension when embedding sites
        - 'https://docs.opencloud.eu'
      img-src:
        - '''self'''
        - 'data:'
        - 'blob:'
        - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
        - 'https://tile.openstreetmap.org/'
        # In contrary to bash and docker the default is given after the | character
        - 'https://collab.cloud.starsystem.dev/'
      manifest-src:
        - '''self'''
      media-src:
        - '''self'''
      object-src:
        - '''self'''
        - 'blob:'
      script-src:
        - '''self'''
        - '''unsafe-inline'''
      style-src:
        - '''self'''
        - '''unsafe-inline'''
  proxy.yaml: |-
    additional_policies:
      - name: default
        routes:
          - endpoint: /caldav/
            backend: http://radicale:5232
            remote_user_header: X-Remote-User
            skip_x_access_token: true
            additional_headers:
              - X-Script-Name: /caldav
          - endpoint: /.well-known/caldav
            backend: http://radicale:5232
            remote_user_header: X-Remote-User
            skip_x_access_token: true
            additional_headers:
              - X-Script-Name: /caldav
          - endpoint: /carddav/
            backend: http://radicale:5232
            remote_user_header: X-Remote-User
            skip_x_access_token: true
            additional_headers:
              - X-Script-Name: /carddav
          - endpoint: /.well-known/carddav
            backend: http://radicale:5232
            remote_user_header: X-Remote-User
            skip_x_access_token: true
            additional_headers:
              - X-Script-Name: /carddav
    # To enable the radicale web UI add this rule.
    # "unprotected" is True because the Web UI itself ask for
    # the password.
    # Also set "type" to "internal" in the config/radicale/config
    #      - endpoint: /caldav/.web/
    #        backend: http://radicale:5232/
    #        unprotected: true
    #        skip_x_access_token: true
    #        additional_headers:
    #          - X-Script-Name: /caldav