apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: prometheus-system
data:
  web.yml: |-
    basic_auth_users:
      admin: "$2b$12$kFvyh.RBTtXoTkLUvbMLauXGFZld10Qys38EtUWeRaIZj2e8jNF1C"
      grafana: "$2b$12$HmsdyuPPWHaBB3kEbZ.nDeHidPPrC34zPzVD4qxccU5.bro6JW6he"
  # See this as a guide: https://prometheus.io/docs/prometheus/latest/configuration/configuration/
  prometheus.yml: |-
    global:
      scrape_interval: 10s
      scrape_timeout: 10s

    scrape_configs:
      # Node exporters
      - job_name: "node-exporter"
        metrics_path: "/metrics"

        static_configs:
          - targets:
              - 10.1.0.1:9100
            labels:
              node: alpha
              system: hydra
          - targets:
              - 10.1.0.2:9100
            labels:
              node: bravo
              system: hydra
          - targets:
              - 10.1.0.3:9100
            labels:
              node: charlie
              system: hydra
          - targets:
              - 10.1.0.4:9100
            labels:
              node: delta
              system: hydra
          - targets:
              - 10.1.0.5:9100
            labels:
              node: echo
              system: hydra
    
      # Redis Service Discovery
    - job_name: 'redis-cluster'
      http_sd_configs:
        - url: http://redis-exporter.redis-cluster:9121/discover-cluster-nodes
          refresh_interval: 10m
      metrics_path: /scrape
      relabel_configs:
        - source_labels: [__address__]
          target_label: __param_target
        - source_labels: [__param_target]
          target_label: instance
        - target_label: __address__
          replacement: redis-exporter.redis-cluster:9121

      # Kubernetes Service Discovery
      # Derived from this guide: https://se7entyse7en.dev/posts/how-to-set-up-kubernetes-service-discovery-in-prometheus/
      - job_name: "kubernetes-services"

        kubernetes_sd_configs:
          - role: endpoints

        relabel_configs:
          # Only scrape if this annotation is true
          # Annotation - prometheus.io/scrape: "true"
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true

          # Set the scheme based on this annotation
          # Annotation - prometheus.io/scheme: "http"
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scheme]
            action: replace
            target_label: __scheme__
            regex: (https?)
          
          # Set the metrics path based on this annotation
          # Annotation - prometheus.io/path: "/metrics"
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)

          # Set the URL based on this annotation
          # Annotation - prometheus.io/port: "9191"
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            target_label: __address__
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2

          # Extract the namespace and add it as a label
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace

          # Add the service's name as a new label
          - source_labels: [__meta_kubernetes_service_name]
            action: replace
            target_label: kubernetes_service

          # Add the pod's name as a new label
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: kubernetes_pod

          # Add the pod's node name as a new label
          - source_labels: [__meta_kubernetes_pod_node_name]
            action: replace
            target_label: kubernetes_node