apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: prometheus-system
  annotations:
    configmap.reloader.stakater.com/reload: "prometheus-config"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus-service-discovery
      priorityClassName: system-cluster-critical
      # This is needed to ensure file permissions are correct
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
      containers:
        - name: prometheus
          image: prom/prometheus
          ports:
            - name: http
              containerPort: 9090
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus.yml
              subPath: prometheus.yml
            - name: data
              mountPath: /prometheus
      volumes:
        - name: config
          configMap:
            name: prometheus-config
        - name: data
          persistentVolumeClaim:
            claimName: prometheus-data