apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: prometheus-system
  annotations:
    metallb.io/loadBalancerIPs: 10.1.16.8
spec:
  selector:
    app: prometheus
  type: LoadBalancer
  ports:
    - name: http
      port: 9090
      targetPort: 9090