apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: prometheus-system
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/scheme: http
    prometheus.io/path: /metrics
    prometheus.io/port: "9100"
spec:
  selector:
    app: node-exporter
  type: ClusterIP
  ports:
    - name: metrics
      port: 9100
      targetPort: 9100