kind: Deployment
apiVersion: apps/v1
metadata:
  name: tika
  namespace: cloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tika
  template:
    metadata:
      labels:
        app: tika
    spec:
      containers:
        - name: tika
          image: apache/tika:latest
          # TODO
          resources:
            requests:
              cpu: 100m
              memory: 200Mi
            limits:
              memory: 512Mi
          ports:
            - name: http
              containerPort: 9998