apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  namespace: prometheus-system
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/scheme: http
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"
spec:
  selector:
    app: kube-state-metrics
  type: ClusterIP
  ports:
    - name: metrics
      port: 8080
      targetPort: 8080
    - name: telemetry
      port: 8081
      targetPort: 8081